.user-header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c575f;
  background-color: #001f7d;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  padding-bottom: 9px;
}