section.new-tweet{
  color: #545149;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 75%;


}

.tweet-input{
  border-bottom: 3px solid black;
}
.tweetbutton{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

.button{
  display: flex;
  background-color: #4056A1;
}

